@import '../base.scss';

$player-radius: 15px;

.video-js .vjs-big-play-button {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.video-js .vjs-control-bar {
    background-color: $sec;
}

.video-js {
    margin-top: 10px;
    margin-bottom: 10px;

    max-height: 280px;

    width: 100%;
    max-width: 500px;

    border-radius: $player-radius;
    @include secetion-shadow();
}

video {
    aspect-ratio: 16/9;
    border-radius: $player-radius;
}